@if (!(hideLoginPage$ | async)) {
    <menu>
        <a class="logo" routerLink="/">
            <img src="/assets/logo.svg" alt="Logo">
        </a>
        <nav>
            <ul>
                <li class="menu-docs" routerLink="/awbs"
                    [class.active]="(location$ | async) === 'awbs'"
                    [awfTooltip]="'AWBs list'" placement="right">
                    <awf-icon icon="cube"></awf-icon>
                    Awbs
                </li>
                <li class="menu-docs" routerLink="/subscribers"
                    [class.active]="(location$ | async) === 'subscribers'"
                    [awfTooltip]="'subscribers'" placement="right">
                    <awf-icon icon="data"></awf-icon>
                    Subscribers
                </li>
            </ul>
        </nav>
        <div class="logged-user">
            <a>
                General user
                <i>1r{{ '@' }}awery.aero</i>
            </a>
            <awf-icon routerLink="/sign-in" icon="log-out"></awf-icon>
        </div>
    </menu>
}
<div class="content" [class.login]="(hideLoginPage$ | async)">
    <router-outlet></router-outlet>
</div>
