@if (!(showLoginPage$ | async)) {
    <menu>
        <a class="logo" routerLink="/">
            <img src="/assets/logo.svg" alt="Logo">
        </a>
        <nav>
            <ul>
                <li class="menu-docs" routerLink="/awbs"
                    [class.active]="(location$|async)==='releases'"
                    [awfTooltip]="'AWBs list'" placement="right">
                    <awf-icon icon="announcement"></awf-icon>
                    Awbs
                </li>
            </ul>
        </nav>
        <div class="logged-user">
            <a>
                Admin user
                <i>1r{{ '@' }}awery.aero</i>
            </a>
            <awf-icon icon="log-out"></awf-icon>
        </div>
    </menu>
}
<div class="content" [class.login]="(showLoginPage$ | async)">
    <router-outlet></router-outlet>
</div>
